---
interface Props {
  label: string
}

const { label } = Astro.props

---

<a href="#" class="inline-flex items-center whitespace-nowrap border border-transparent rounded-md bg-rose-600 px-4 py-2 text-sm text-white font-medium shadow-sm hover:bg-rose-700 focus-visible:(outline-none ring-2 ring-offset-2 ring-rose-500)">
  { label }
</a>
