---
import ApplicationLayout from '~/layouts/ApplicationLayout.astro'
import facilityService from '~/services/facility'

const response = await facilityService.findAll()

if (!response.ok)
  throw new Error('Inconsistent data')

const facilities = response.data

---

<ApplicationLayout>
  <table>
    <thead>
      <tr>
        <td>Description</td>
        <td>Type</td>
        <td>Type Description</td>
        <td>Contacts</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {
        facilities.map(facility => (
          <tr>
            <td>{ facility.description }</td>
            <td class="capitalize">
              { facility.type.replace(/([a-z])([A-Z])/g, '$1 $2') }
            </td>
            <td>{ facility.facilityTypeDescription }</td>
            <td>{ facility.contacts.length }</td>
            <td>
              <a href={`/facilities/${facility.id}`}>Edit</a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</ApplicationLayout>
