---
import ApplicationLayout from '~/layouts/ApplicationLayout.astro'
import { type Facility, facilityTypes, insertFacilitySchema } from '~/schemas/facility'

let errors

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const data = Object.fromEntries(formData)

  const validation = insertFacilitySchema.safeParse(data)

  if (validation.success) {
    const response = await fetch(`${import.meta.env.API}/facilities`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(validation.data),
    })

    if (!response.ok)
      throw new Error(`Request failed with status ${response.status}`)

    const { id } = await response.json() as Facility
    return Astro.redirect(`/facilities/${id}`)
  }

  errors = validation.error.format()
}

---

<ApplicationLayout>
  <form method="post">
    <div class="flex flex-col children:border-2">
      <label for="description">Description</label>
      <input type="text" name="description" id="description" value="test" required />
      <p class="text-red-600">{ errors?.description?._errors.at(0) }</p>
    </div>

    <div class="flex flex-col children:border-2">
      <label for="type">Type</label>
      <select name="type" id="type">
        {
          facilityTypes.map(type => (
            <option>{ type }</option>
          ))
        }
      </select>
      <p class="text-red-600">{ errors?.type?._errors.at(0) }</p>
    </div>

    <div class="flex flex-col children:border-2">
      <label for="typeDescription">Facility type description</label>
      <input
        type="text"
        list="facilityTypeDescriptions"
        name="facilityTypeDescription"
        id="typeDescription"
        value="test"
        required
      />
      <p class="text-red-600">{ errors?.facilityTypeDescription?._errors.at(0) }</p>

      <datalist id="facilityTypeDescriptions">
        {/* TODO: fetch from api */}
        <option value="test"></option>
        <option value="test2"></option>
      </datalist>
    </div>

    <button type="submit">Save</button>
  </form>

  { JSON.stringify(errors) }
</ApplicationLayout>
