---
import { IconButton } from '~/components/button'

---

<footer class="border-t border-gray-900/10 bg-white">
  <div class="mx-auto max-w-7xl px-4 py-2 md:(flex items-center justify-between) lg:px-8 sm:px-6">
    <nav class="flex justify-center gap-x-6 text-gray-400 md:order-2" aria-label="Footer Navigation">
      <IconButton as="a" href="/" icon="i-simple-icons-facebook" label="Facebook" size="sm" />
      <IconButton as="a" href="/" icon="i-simple-icons-instagram" label="Instagram" size="sm" />
      <IconButton as="a" href="/" icon="i-simple-icons-x" label="X" size="sm" />
      <IconButton as="a" href="/" icon="i-simple-icons-github" label="GitHub" size="sm" />
      <IconButton as="a" href="/" icon="i-simple-icons-youtube" label="YouTube" size="sm" />
    </nav>
    <div class="mt-2 md:(order-1 mt-0)">
      <p class="mx-auto text-center text-xs text-gray-600 leading-5">&copy; 2024 Utterly Complete, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>

